<%- include ("../layout/layout") %>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 row">
        <div class="col pt-5 mt-4">
          <img
            class="img-fluid w-50"
            src="/images/Moonji_Logo-16.png"
            alt="logo"
          />
          <hr />
          <p>Your complete electronics buying solution</p>
        </div>
        <form
          class="login100-form validate-form"
          action="/signup"
          method="post"
          id="form"
        >
          <span class="login100-form-title"> Create new account </span>

          <div class="wrap-input100">
            <input
              class="input100"
              type="text"
              name="name"
              placeholder="Fullname"
              id="name"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <small id="nameError" class="text-danger err"></small>

          <div class="wrap-input100">
            <input
              class="input100"
              type="text"
              name="email"
              placeholder="Email"
              id="email"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
          <small id="emailError" class="text-danger err"></small>

          <div class="wrap-input100">
            <input
              class="input100"
              type="text"
              name="phone"
              placeholder="Phone"
              id="phone"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
          </div>
          <small id="phoneError" class="text-danger err"></small>

          <div class="wrap-input100">
            <input
              class="input100"
              type="password"
              name="password"
              placeholder="Password"
              id="password"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
          <small id="passwordError" class="text-danger err"></small>

          <div class="wrap-input100">
            <input
              class="input100"
              type="password"
              name="confirm Password"
              placeholder="Confirm Password"
              id="confirmPassword"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
          <small id="confirmPasswordError" class="text-danger err"></small>

          <% if(locals.invalid){%>
          <small class="text-danger"><%=invalid%></small>
          <%}%> %>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">Sign up</button>
          </div>
          <a class="small text-muted text-center" href="/login"
            >Already have a account Login?</a
          >
        </form>
      </div>
    </div>
  </div>

  <!--===============================================================================================-->
  <script src="/log/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/log/vendor/bootstrap/js/popper.js"></script>
  <!--===============================================================================================-->
  <script src="/log/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/log/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/log/js/main.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/signupValid.js"></script>
</body>
